* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #FF67A7;
  --secondary: #FF006B;
  --white: #FFF;
  --brown: #8E5A1A;

    font-family: 'Josefin Slab', serif;
}

header {
  background-image: url('./assets/restos-alimentos.png');
  background-size: cover;
  padding: 10px 20px;
  text-align: center;
}

header > nav > ul {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: end;
  gap: 20px;
  
  color: var(--white);
  font-weight: bold;
  list-style: none;
}

header > h1 {
  color: var(--white);
  font-size: 48px;
  margin-bottom: 50px;
}

.fome-container {
  font-weight: bold;
}

.info-milhoes-pessoas-pobreza {
  background-color: var(--primary);
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-around;

  color: var(--white);
}

.info-milhoes-pessoas-pobreza {
  margin-bottom: 30px;
}

.info-milhoes-pessoas-pobreza>div {
  width: 18rem;
}

.info-milhoes-pessoas-pobreza>div>h4 {
  font-size: 48px;
}

.info-milhoes-pessoas-pobreza>div>span {
  width: 12rem;

}

.fome-container > p {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.fome-container > .img-pobreza-extrema {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}


header.primary {
  background-color: var(--primary);
  background-image: none;
}