body {
  background-color: #FF67A7;
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}

#logo {
  padding-left: 1rem;
}

.nav-container {
  width: 50%;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.custom-word-spacing {
  word-spacing: 0.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}