* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #FF67A7;
  --secondary: #FF006B;
  --white: #FFFFFF;

  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

body {
  /* background-color: var(--primary); */
}

a {
  text-decoration: none;
  color: inherit;
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}

#logo {
  padding-left: 1rem;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}



.nav-items>.custom-word-spacing {
  word-spacing: 0.3rem;
}

.btn {
  all: unset;
  box-sizing: border-box;

  background-color: var(--secondary);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
}