* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #FF67A7;
  --secondary: #FF67A7;

  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

body {
  /* background-color: var(--primary); */
}

a {
  text-decoration: none;
  color: inherit;
}
